<%= form_with(model: pessoa) do |form| %>
  <% if pessoa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pessoa.errors.count, "erro") %> impediram esta pessoa de ser salva:</h2>

      <ul>
        <% pessoa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.submit "Ok", style: "width: 100%; padding: 10px; background-color: #4CAF50; color: #fff; border: none; border-radius: 5px; cursor: pointer;" %>
  </div>
<% end %>
