<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= livro.ano %>
  </p>

  <p>
    <strong>Paginas:</strong>
    <%= livro.paginas %>
  </p>

  <p>
    <strong>Edicao:</strong>
    <%= livro.edicao %>
  </p>

  <p>
    <strong>Resumo:</strong>
    <%= livro.resumo %>
  </p>

  <p>
    <strong>Emprestado:</strong>
    <%= livro.emprestado %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= livro.categoria_id %>
  </p>

  <p>
    <strong>Editora:</strong>
    <%= livro.editora_id %>
  </p>

</div>
